<mat-toolbar class="example-toolbar">
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
	<h1 class="example-app-name">Keep</h1>
	<app-search></app-search>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
    <mat-nav-list>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <a class="navigation-item" mat-list-item routerLink="home" routerLinkActive="active">
          <mat-icon class="material-icons">emoji_objects</mat-icon>
          <span class="full-width" *ngIf="isExpanded || isShowing">Notes</span>
        </a>
      </mat-list-item>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <a class="navigation-item" mat-list-item routerLink="reminders" routerLinkActive="active">
          <mat-icon class="material-icons">notifications</mat-icon>
          <span class="full-width" *ngIf="isExpanded || isShowing">Reminders</span>
        </a>
      </mat-list-item>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <a class="navigation-item" mat-list-item routerLink="archive" routerLinkActive="active">
          <mat-icon class="material-icons">archive</mat-icon>
          <span class="full-width" *ngIf="isExpanded || isShowing">Archive</span>
        </a>
      </mat-list-item>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <a class="navigation-item" mat-list-item routerLink="trash" routerLinkActive="active">
          <mat-icon class="material-icons">delete</mat-icon>
          <span class="full-width" *ngIf="isExpanded || isShowing">Trash</span>
        </a>
      </mat-list-item>
		</mat-nav-list>
	</mat-sidenav>

	<!-- <div class="example-sidenav-content">
		Main content that resizes properly
	</div> -->
	<router-outlet></router-outlet>
</mat-sidenav-container>
